# --- DATABASE & DATA STORAGE ---
postgres_data/

data/processed/

data/raw/siskaperbapo.db

*.db
*.sqlite3

# --- PYTHON & ENVIRONMENTS ---
venv/
.venv/
env/
venv_py310/

# Blokir cache Python
__pycache__/
*.py[cod]

# --- CREDENTIALS & LOGS ---
.env
*.log
cek_sinkron.py